{{ define "main" }}

<head>
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<title>matthewdharris.net</title>
</head>
<body>
	<div style="margin:40px; text-align:center;">
		<p> Matthew Harris </p>
		<p> software developer, Amsterdam.</p>
		<br><br><br>
		<p> I love <a href="/my_music/">making</a> / <a href="/music_i_like/">listening</a> to / <a href="/where_I_read_about_music">reading</a> about music </p>
		<p> <a href=https://github.com/matthewh806>programming</a> various <a href="/projects/">different</a> things </p>
		<p> films and <a href=https://www.goodreads.com/user/show/17458466-matthew-harris>books</a>.</p>
		<br><br><br>
		<p>Most recently I simulated <a href="/projects/enojs/">Brian Eno</a> in the browser.</p>
	</div>
</body>

{{ end }}