{{ define "main" }}

<head>
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
	<title>matthewdharris.net</title>
</head>
<body>
	<div style="margin:40px; text-align:center;">
		<p> Matthew Harris </p>
		<p> software developer, Amsterdam.</p>
		<br><br><br>
		<p> I love <a href="./my_music.html">making</a> / <a href="./music_I_like.html">listening</a> to / <a href="./where_I_read_about_music.html">reading</a> about music </p>
		<p> <a href=https://github.com/matthewh806>programming</a> various different things </p>
		<p> films and <a href=https://www.goodreads.com/user/show/17458466-matthew-harris>books</a>.</p>
		<br><br><br>
		<p>Most recently I simulated <a href="./eno/index.html">Brian Eno</a> in the browser.</p>
	</div>
</body>

{{ end }}